body {
font-family: Georgia, 'Times New Roman', Times, serif;
background-color: rgb(194, 211, 226);
text-align: center;
}

.container {
margin-top: 20px;
margin-bottom: 10px;
text-align: center;
font-size: 28px;
width: auto;
}
	 
.card-header {
color: goldenrod;
background-image: url(../images/Savoy_Kitchen_Background.jpg);
margin-bottom: 0px;
background-size: 100%;
width: auto;
height: 450px;
text-align: left;
font-style: italic;
padding-left: 20px;
font-size: 40px;
}

.card {
margin-bottom: 20px;
}
	
.text-muted{
	color: blue;
}
.last-seconds{
  color: red;
}
.option{
  margin: 15px;
}